.table {
    margin-left: auto;
    margin-right: auto;
	margin-top : 200px;
	margin-bottom : 100px;
    width: 1000px;
}
.gratuit_premium {
    width: 207px;
    height: 50px;
	text-align : center;
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
    color: black;
    background: #a32020;
}
.ecole {
    width: 207px;
    height: 50px;
    border-radius: 0 10px 0 0;
	text-align : center;
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
    color: black;
    background: #A32020;
}
.cellule {
    height: 49px;
}
.cellule_rouge {
    padding-left: 25px;
    border: 0 none;
    text-align: left;
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    color: black;
    background: #a32020;
}
.cellule_rouge_clair {
    padding-left: 25px;
    border: 0 none;
    text-align: left;
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    color: black;
    background: #fbe9e9;
}
.cellule_interieur_rouge_clair {
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    color: black;
	background : #fbe9e9;
}
.cellule_interieur_rouge {
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    color: black;
	background : #a32020;
}
.police {
	text-align : center;
	font-size: 15px;
    font-style: italic;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto
}